<%- include('partials/head.ejs') %>

<a class="btn btn-dark" href="/todo">back </a>



<div class="container mt-5 ">

    <div class="d-flex justify-content-between">
        <h1 >Bookmarks</h1>
        <div>
            <button class="btn btn-danger">delete</button>
        </div>
    </div>
</div>

    

<%- include('partials/body.ejs') %>